@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    background: #DCF5FF;
    align-items: center;
}

header,footer{
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    width: 100%;
    height: 60px;
  /* position: relative; */
    background-color:#FDFFFC;
}
header div{
    position: relative;;
}
header img{
    position: absolute;
    left: 20px;
    margin: 0px;
    top:5px;
}

header ul{
position: absolute;
left: 60%;
padding:0px 5px 0px 5px;
}
header ul li{
  bottom: 20px;
  left: 60%;
  color:#011672;
    padding: 0px;
    margin:5px 0px 5px 0px;
   height: 30px;
   width: 100px;
   text-align: center;
    padding:6px;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
header a{
    text-decoration: none;
    color:#011672;

}
header ul :hover{
    background-color:#011672 ;
    color:#FDFFFC ;
}

footer {
position: relative;
    text-align: center;
    margin: 0px;
}
footer div{
    display: inline-block;
    position: absolute;
    right: 20px;
    top:3px;
}
footer #copyRight{
    display: inline-block;
    position: absolute;
    left: 0px;
    top:15px;

}

fieldset{
    position: relative;
    z-index: 0%;
    width: 60px;
    margin-top: 50px;
    margin-bottom: 8%;
    left: 40%;
    right: 35%;
    text-align: center;
    padding: 60px;
    display: inline-block;
}
fieldset button{
    background-color: cyan;
}
#img img:nth-child(1){
    position: absolute;
    left: 0%;
    top:30%;
    animation:submit 1s infinite alternate-reverse;
    
}
 img:nth-child(2){
    position: absolute;
    left: 20%;
    top:50%;
    animation:submit 1s infinite alternate-reverse;
    
}
img:nth-child(3){
    position: absolute;
    left: 5%;
    top:70%;
    animation:submit 1s infinite alternate-reverse;
    
}
img:nth-child(4){
    position: absolute;
    left: 750%;
    top:50%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(5){
    position: absolute;
    left: 35%;
    top:80%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(6){
    position: absolute;
    left: 70%;
    top:10%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(7){
    position: absolute;
    left: 80%;
    top:90%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(8){
    position: absolute;
    left: 15%;
    top:60%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(9){
    position: absolute;
    left: 65%;
    top:40%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(10){
    position: absolute;
    left: 80%;
    top:90%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(11){
    position: absolute;
    left: 50%;
    top:90%;
    animation:submit 1s infinite alternate-reverse;
}img:nth-child(12){
    position: absolute;
    left: 10%;
    top:12%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(13){
    position: absolute;
    left: 90%;
    top:40%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(2){
    position: absolute;
    left: 20%;
    top:30%;
    animation:submit 1s infinite alternate-reverse;
}
img:nth-child(2){
    position: absolute;
    left: 20%;
    top:30%;
    animation:submit 1s infinite alternate-reverse;
}
@keyframes submit{
    0%{
        height: 60px;
        rotate: 30deg;
        transform: rotate(20deg);

    }
    20%{
        height: 90px;
        transform: rotate(60deg);
    }
    100%{
        height:50pxs ;
    }

}
