/*  Code By Webdevtrick ( https://webdevtrick.com )  */

main {
  height: 500px;
}
#coverflow {
  height: 100%;
  width: 70%;
  perspective: 1000px;
  overflow-x: hidden;
}

#coverflow section {
  display: position;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 170px;
  height: 170px;
  
  margin-left: -90px;
  margin-top: -90px;
  
  background-color: white;
  background-size: 100%;
  transform-style: preserve-3d;
  transition: all 300ms ease-in;

  box-shadow: 6px 8px 22px -1px rgba(117, 117, 117, 0.9);  -webkit-box-reflect: below 0
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(white)); 
}

#controls {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  user-select: none;
  color: #999;
  font-size: 18px;
  text-align: center;
}

#controls a  {
  color: rgb(39, 39, 39); 
  cursor: pointer;
}

#controls a:hover  {
  color: 66FFFF;
}

input[type="range" i] {
  width: 400px;
}

#prev:active, #next:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}