/* @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
    background: #DCF5FF;
    align-items: center;
} */
#questionsContainer{
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    top: 10px;
    left: 22%;
    display: none;

}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    padding: 40px 5px 15px 5px;
    width:220px;
    height:70px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    /* filter: opacity(0.5) blur(2px); */
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width: 100%;
    height: 125px;
    top: 15%;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer {
    position: absolute;   

    top: 10px;
    left: 22%;

    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    display: none;
    opacity: 0.8;
}

#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:180px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
body {
    background: rgb(100, 201, 223);
    overflow: hidden;
    align-items: center;
}


#constructorDiv {
    background-color: #64c9df;
    width: 100%;
    height: 375px;
    position: absolute;
    top: 168px;
    left: 0%;

    /* z-index: -1; */
}

#constructorGif{
    display: block;
    margin-left: 31%;
    border: none;
    width: 500px;
}
path {
    padding: 0px;
    bottom: 0px;
    display: inline-block;
    fill: #64c9df;
    height: 200px;
    width: 300px;
    animation: pathChange reverse infinite 8s;
    position: absolute;

}
@keyframes pathChange{
    0%{
        fill:#000b76;
    }
    15%{
        fill: #5335D6;
    }
    25%{
        fill:#8e23e6 ;
    }
    35%{
        fill:#c934c9 ;
    }
    45%{
        fill:#e623bc ;
    }
    55%{
        fill:#e62323 ;
    }
    65%{
        fill:#df3737 ;
    }
    75%{
        fill:#f38e0a ;
    }
    85%{
        fill:#e62323 ;;
    }
    95%{
        fill:#8e23e6 ;
    }
    100%{
        fill: #5335D6;
    }
}



#welcomeDiv {

    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230,1);
    border-radius: 20px;
    position: fixed;
    top:0%;    
    z-index: 1000;
    padding-top: 7%;
}
#welcomeDiv h1{
    text-align: center;
    color: orangered;
    font-family: 'Pangolin', cursive;
    font-size: 60px;
    font-weight: 800;
}
#welcomeDiv img{
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
    height: 400px;
}

.member{
    animation: rotate ease 1s;
}

@keyframes  slide {
    0%{
        margin-left: 290px;
        }
    25%{
        margin-left: 125px;
        margin-top: 20px;
    }
    50%{
        background-color: rgb(230, 230, 230,75);
    }
    100%{
        margin-left: 65px;
        margin-top: -110px;
    }
    from{height: 400px;}
    to{height: 120px;}
}
@keyframes  fade {
    0%{
        background-color: rgb(230, 230, 230,1);
        }
    25%{
        background-color: rgb(230, 230, 230,1);
    }
    50%{
        background-color: rgb(230, 230, 230,75);
    }
    100%{
        background-color: rgb(230, 230, 230,0);
    }
}
.imgDiv {
    animation: slide  1.5s;
}
.fadeDive {
    animation: fade  1.5s;
}

#pathContainer{
    position: absolute;
    bottom: 90px;
    left: 0px;
    width: 100%;
    background-color: #64c9df;
    height: 200px;
    z-index: -1;
}

#startPlayingButton{
    color: white;
    position: absolute;
    top: 430px;
    left: 44%;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    background-color: #7172a1;
   
}

#questionsDiv{
    background-color: #64c9df;
    width: 100%;
    height: 355px;
    display: none;

    position: absolute;
    top: 168px;
    left: 0%;

    /* z-index: -1; */
}



#replayButton{
    text-align: center;
    font-size: 25px;
    color: green;
    font-weight: bold;
    padding-top: 15px;
    
    position: relative;
    left: 280px;
    top: 215px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: lightcoral;
    position: relative;

}
.blink {
    animation: blink 0.5s infinite;
  }
  @keyframes blink{
    to { opacity: .0; }
  }
  .flex {
      display: flex;
      place-content: center;

  }
  .header-sub-title {
    /* width: 100%; */
    color: #4b4b4b;
    font-family: "Courier";
    font-size: 60px;
    padding: 0.1em;
    /* text-align: center; */
  }

