@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
header{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #FDFFFC;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    width: 100%;
    height: 90px;
    padding: 12px 0;
    border : 2px solid black;
    z-index: 1000;
}
footer{
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    width: 100%;
    height: 70px;
    background-color:#FDFFFC;
    padding: 12px 0;
    border : 2px solid black;
    z-index: 1000;
}
header, footer {
    z-index: 999;
}

header div{
    position: relative;;
}
header img{
    position: absolute;
    left: 65px;
    top: -15px;
    height: 120px;

}

header ul{
    position: relative;
    display: inline;
    left: 30%;
    top: 28px;
    font-size: 20px;
}
header ul li{
  color:#011672;
   height: 30px;
   width: 175px;
   text-align: center;
    padding:6px;
    display: inline-block;
    list-style: none;
}
header a{
    text-decoration: none;
    color:#011672;

}
header ul :hover{
    background-color:#011672 ;
    color:#FDFFFC ;
}

footer {
position: fixed;
text-align: center;
bottom: 0;   
margin: 0px;
height: 35px;
}
footer div{
    display: inline-block;
    position: absolute;
    right: 20px;
    top:3px;
}
footer #copyRight{
    display: inline-block;
    position: absolute;
    left: 0px;
    top:15px;
}
footer .fa {
    font-size: 3em !important;
    color:#011672;
}
footer fa-address-card {
    font-size: 3em !important;
}
#contact{
    text-align: left;
    float: left;
    margin: left;
    left: 78px;
    top: 10px;
}